<html>
<head>
    <title>Movie Recommendation System API</title>
    <style>
        body {
            background-color: black;
            color: white;
        }

        h1 {
            font-size: 24px;
        }

        .introduction {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .bullets {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .signature {
            font-size: 14px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Movie Recommendation System API</h1>
    <p class="introduction">This is a personal project involving ETL, FastApi and Machine Learning.</p>
    <div class="bullets">
        <ul>
            <li>Function to calculate the number of movies given a month.<a href="/cantidad_filmaciones_mes/enero">Prueba.</a></li>
            <li>Function to calculate the number of movies given a day of the week <a href="/cantidad_filmaciones_dia/viernes"> Prueba.</a></li>
            <li>Function to obtain the popularity of a movie by entering the title.<a href="/cantidad_filmaciones_mes/enero">Prueba.</a></li>
            <li>Function to obtain the number of votes of a movie by entering the title.<a href="/cantidad_filmaciones_mes/enero">Prueba.</a></li>
            <li>Function to obtain the budget, revenue, and return of an actor.<a href="/cantidad_filmaciones_mes/enero">Prueba.</a></li>
            <li>Function to obtain the budget, revenue, and return of a director.<a href="/cantidad_filmaciones_mes/enero">Prueba.</a></li>
            <li>Get movie recommendations.<a href="/cantidad_filmaciones_mes/enero">Prueba.</a></li>
        </ul>
    </div>
    <h2>Contact</h2>
    <p class="signature">Made by Cristhian I. Castro</p>
    <p class="signature">GitHub: <a href="https://github.com/cristhianc001">cristhianc001</a></p>
    <p class="signature">LinkedIn: <a href="https://www.linkedin.com/in/cristhiancastro/">cristhiancastro</a></p>
</body>
</html>
